.navbar{

display:flex;
justify-content:space-between;
align-items:center;

padding:18px 8%;

position:sticky;
top:0;

backdrop-filter:blur(15px);

background:rgba(255,255,255,.92);

box-shadow:0 5px 20px rgba(0,0,0,.08);

z-index:1000;

}

.logo{

font-size:34px;
font-weight:bold;

color:#ff5a1f;

}

.nav-links{

display:flex;

gap:35px;

list-style:none;

}

.nav-links li{

cursor:pointer;

font-size:17px;

transition:.3s;

}

.nav-links li:hover{

color:#ff5a1f;

}

.nav-links li a {
  text-decoration: none;
  color: #222;
}

.nav-links li a:hover {
  color: #ff5a1f;
}

.nav-icons{

display:flex;

align-items:center;

gap:25px;

}

.icon{

font-size:22px;

cursor:pointer;

transition:.3s;

}

.icon:hover{

color:#ff5a1f;

}

.cart{

position:relative;

}

.cart span{

position:absolute;

top:-10px;

right:-12px;

background:red;

color:white;

width:18px;

height:18px;

display:flex;

justify-content:center;

align-items:center;

border-radius:50%;

font-size:12px;

}

.nav-icons button{

display:flex;

align-items:center;

gap:8px;

padding:10px 20px;

border:none;

background:#ff5a1f;

color:white;

border-radius:8px;

cursor:pointer;

font-size:16px;

transition:.3s;

}

.nav-icons button:hover{

background:#e64912;

}